td
{
    height: 100px;
    width: 100px;
    color: red;
    font-size: 50px;
    text-align: center;
}

p
{
    border: 1px solid black;
    text-align: center;
    background-color: #212529;
    color: white;
}
